.App {
  font-family: sans-serif;
  text-align: center;
  margin-top: 50px;
}

.knight {
  display: inline-flex;
  align-items: center;
}

.knight .fa-chess-knight {
  font-size: 50px;
}

.knight .fa-sword {
  font-size: 50px;
  transition: transform 0.5s;
  transform-origin: bottom;
}

.knight.swinging .fa-sword {
  transform: rotate(-60deg);
  animation: swingSword 0.5s alternate infinite;
}

@keyframes swingSword {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-60deg);
  }
}
